{% comment %}
  Create a random sample of posts
  Display 4 of them, making sure to skip a post if it happens to be the same as the current page
{% endcomment %}

<div class="page__related">
  <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
  <div class="grid__wrapper">
    {% assign posts = site.posts | sample:5 %}
    {% assign relatedCount = 0 %}
    {% for post in posts %}
      {% if post.url != page.url %}
        {% include archive-single.html type="grid" %}
        {% assign relatedCount = relatedCount | plus: 1 %}
        {% if relatedCount >= 4 %}
          {% break %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
